/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// Site variable
$color: #6a6767;
$background-color: #fcfcfc;
$header-color: #ff0009;



// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin body-font-regular {
    font-family: "old-standard",serif;
    font-style: normal;
    font-weight: 400;
}
    
@mixin body-font-italic {
    font-family: "old-standard",serif;
    font-style: italic;
    font-weight: 400;
}
    
@mixin body-font-bold {
    font-family: "old-standard",serif;
    font-style: normal;
    font-weight: 700;
}
    
@mixin headline-font {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  src: local('Sigmar One'), local('SigmarOne'), url(http://fonts.gstatic.com/s/sigmarone/v6/aRAZJs6CY7SV6eSg6Wx4j73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}


//@keyframes colorchange-background {
  //  0% { background-color: $background-color;}
   // 50% { background-color: $background-color-alternate;}
    //100% { background-color: $background-color;}
//}

//@keyframes colorchange-font {
  //  0% { color: $background-color;}
    //50% { color: $background-color-alternate;}
    //100% { color: $background-color;}
//}